/*
모바일 datatable 버튼 재정렬
*/
@media screen and (max-width: 767px) {
  .dt-buttons {
    float: none;
    text-align: center;
    margin-right : 10px;
    display : inline !important;
  }
  .dt-buttons .btn {
    float: none;
  }
}
@media screen and (max-width: 414px) {
    .btn-xs, .btn-group-xs > .btn{
        padding: 3px 5px;
    }
    .btn-span {
        display:none;
    }
    .panel-body{
        padding: 3px 5px;
    }
    #workSpace Div{
        word-break:break-all;
    }

    .custom-icon {
        margin-right : 0px;
    }
}


@media screen and (max-width: 564px) {
    .btn-xs, .btn-group-xs > .btn{
        padding: 3px 5px;
    }
    .btn-span {
        display:none;
    }
    .custom-icon {
        margin-right : 0px;
    }
}

/* 글자 밀림 방지 */
.dataTable > thead > tr > th,
.dataTable > tbody > tr > th,
.dataTable > tfoot > tr > th,
.dataTable > thead > tr > td,
.dataTable > tbody > tr > td,
.dataTable > tfoot > tr > td {
  vertical-align: middle;
  word-break:break-all;
}

.paging_simple .paginate_button:hover, .paging_simple .paginate_button:focus{
    background-color : transparent;
}
.dataTables_paginate .paginate_button:hover, .dataTables_paginate .paginate_button:focus{
    background-color : transparent;
}

.text-skip {
    overflow : hidden;
    text-overflow : ellipsis;
}

.table-layout-fixed {
    table-layout : fixed;
}

 .myclass {
    text-align: right;
}

/*
data table 페이징 버튼 css 컨트롤
*/

/* 페이지 리스트 버튼 가운데정렬 */
/*
.dataTables_length,
.dataTables_filter  {
    float: none! important;
    text-align: center !important;
    margin-left: 0 !important;
  }
 */


.content-group{
    margin-bottom: 20px !important;
}


.slice-boder-top {
    border-top: 1px solid #ddd;
}


.gu-transit {
    list-style-type:none !important;
}



.btn-hide{
    display: none;
}