
#panel_p2 .table-responsive .dataTable > thead > tr > th {
    border-top: 1px solid #bbb;
	border-bottom: 1px solid #bbb;
}

#panel_p2 .table-responsive > .table-bordered > tbody > tr:last-child > td{
	border-bottom: 1px solid #ddd;
}

#panel_p2 #btn_folderSelect{
	margin-bottom:1px;
}

#panel_p1 .searchStat{
	float: left;
	margin-left: 10px;
	width: auto;
}

#panel_p1 .search-option-div{
	float: left;
	margin-left: 10px;
}

#datatable_projectList_filter label {
    float: left;
}

#sch_SDate, #sch_EDate{
	padding-right:12px;
}

#table_eventActionConfig label{
	margin-bottom:0;
}

#datatable_projectList .projectNm{
	min-width:150px
}

#datatable_projectList_wrapper .dt-buttons{
	display:none
}

@media screen and (min-width: 1525px) and (max-width: 1640px) {	
	#datatable_projectList_filter input[type="search"]{
		width:130px;
	}
}


@media screen and (min-width: 1044px) and (max-width: 1524px) {
	#datatable_projectList_filter .search-option-div{
		margin-left:0;
		margin-top:10px;
	}
}

@media screen and (min-width: 1025px) and (max-width: 1043px) {
	#datatable_projectList_filter input[type="search"]{
		width:100px;
	}

	#datatable_projectList_filter #sch_SDate,
	#datatable_projectList_filter #sch_EDate{
		padding:7px 5px;
		width:87px !important;
	}

	#datatable_projectList_filter .search-option-div{
		margin-left:0;
		margin-top:10px;
	}
}