
.choice span {
	border : 2px solid #797979;
}

.content-group {
	margin-bottom : 20px !important;
}
  

.fancytree-ext-table tbody tr td:first-child {
	text-align : left;
} 

#dataList {
	word-break:break-all;
}

.btn-hide{
	display: none;
}

.Lv0 { 
}
.Lv1 {
	background-color : #f7f7f7
}
.Lv2 {
	background-color : #e8e8e8
}
.Lv3 {
	background-color : #dfdfdf
}
.Lv4 {
	background-color : #d7d7d7
}
.Lv5 {
	background-color : #c9c9c9
}



@media screen and (max-width: 1200px) { 
	.custom-icon {
		margin-right : 0px;
	} 
	.btn-span {
		display:none;
	} 
}
@media screen and (max-width: 1024px) { 
	.btn-span {
		display:inline;
	} 
	.custom-icon {
		margin-right : 7px;
	}
} 

@media screen and (max-width: 814px) {
	.btn-custom,
	.btn-xs, 
	.btn-group-xs > .btn{
		padding: 3px 5px;
	}  
}

@media screen and (max-width: 414px) {
	.btn-custom,
	.btn-xs, 
	.btn-group-xs > .btn{
		padding: 3px 5px;
	} 

	.btn-span {
		display:none;
	} 
	.panel-body{
		padding: 3px 5px;
	}
	 
	.custom-icon {
		margin-right : 0px;
	}
}
