	@media (max-width: 768px) {
		  .heading-elements:not(.not-collapsible),
			  .breadcrumb-elements:not(.not-collapsible) {
			    position:absolute;
			    display:block;
			    top:14%;
		  }
		}
		@media (max-width: 320px) {
		  #Select_item_info .panel-body{
			padding:4px;
		  }
		}

		#accordion-Sort ul{
  		  border:0px;
		  padding:0px;
		}

		#accordion-Sort ul li{
			border-top:1px solid #ddd;
			margin:0px;
		}
		#Select_item_info .panel-body{
			border-top:1px solid #ddd;
		}
		#accordion-Sort a{
			cursor:move;
		}

		.saerch_input{
			margin:5px;
		}
		#Select_item_info .form-group{
			margin-bottom: 10px;
		}
		.sort_btnDiv{
			margin-top:15px;
			margin:5px;
		}
		.jstree-anchor{
			cursor: pointer;
		}