body {
  background: #101010 !important;
  color: #fff !important;
}

.mega-menu {
  background: #0c0c0c !important;
}

/* .footer {
  padding: 50px 0;
  background: #0c0c0c;
} */

.sub-section {
  margin: 130px 0 180px;
}
.sub-section .page-title {
  margin-bottom: 60px;
  font-size: 48px;
  font-weight: 400;
}

@media (max-width: 991px) {
  .sub-section {
    margin: 110px 0;
  }
  .sub-section .page-title {
    margin-bottom: 30px;
    font-size: 32px;
  }
}

/* tab-menu */
.tab-menu {
  background: #1a1a1a;
  padding: 20px 0;
}
.tab-menu ul {
  overflow: hidden;
}
.tab-menu ul li {
  position: relative;
  padding: 10px 0 10px 12px;
  float: left;
  width: 25%;
}
.tab-menu ul li::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  background: #898989;
  content: "";
}
.tab-menu ul li:hover::before,
.tab-menu ul li.active::before {
  background: #998256;
}
.tab-menu ul li a {
  font-size: 21px;
  color: #898989;
  transition: 0.3s ease-out;
}
.tab-menu ul li a:hover,
.tab-menu ul li.active a {
  color: #998256;
}
.tab-menu ul.column-5 li {
  width: 20%;
}
.tab-menu ul.column-4 li {
  width: 25%;
}
.tab-menu ul.column-3 li {
  width: 33.33%;
}
.tab-menu ul.column-2 li {
  width: 50%;
}

.tab-menu.type02 {
  background: none;
  padding: 20px 0 0;
  margin-bottom: 80px;
}
.tab-menu.type02 ul li {
  padding: 0;
}
.tab-menu.type02 ul li::before {
  display: none;
}
.tab-menu.type02 ul li a {
  display: block;
  padding: 10px 0 30px;
  border-bottom: 1px solid #454545;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
  width: 100%;
  height: 70px;
  overflow: hidden;
  letter-spacing: -1px;
}
.tab-menu.type02 ul li a:hover,
.tab-menu.type02 ul li.active a {
  border-bottom: 2px solid #998256;
}

@media (max-width: 1199px) {
  .tab-menu ul li {
    width: 50% !important;
  }
  .tab-menu ul li a {
    font-size: 18px;
    padding: 10px 0;
    height: 50px !important;
  }
}
@media (max-width: 991px) {
  .tab-menu ul.column-4 li {
    width: 50% !important;
  }
  .tab-menu ul li a {
    font-size: 14px;
  }
}
@media (max-width: 640px) {
  .tab-menu ul.column-5 li,
  .tab-menu ul.column-4 li,
  .tab-menu ul.column-3 li,
  .tab-menu ul.column-2 li {
    width: 100% !important;
  }
}
/* tab-menu //END */

/* Project */
.project > div {
  position: relative;
  margin: 60px 0;
  min-height: 640px;
  outline: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.project > div > div {
  display: flex;
  flex-direction: row;
}
.project .title {
  position: relative;
  margin-left: 5%;
  z-index: 2;
}
.project .title h1 {
  font-size: 64px;
  font-weight: 600;
  color: #998256;
}
.project .title h2 {
  font-size: 32px;
  color: #fff;
}
.project .title p {
  font-size: 21px;
  color: #898989;
}
.project .title .btn {
  padding: 15px 55px;
  font-size: 21px;
}
.project .title .btn.disabled {
  background: #1a1a1a;
  color: #998256;
  border: none;
  opacity: 1;
}
.project .img-wrap {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 1100px;
  height: 640px;
}

.project > div:nth-child(2n) {
  flex-direction: row-reverse;
}
.project > div:nth-child(2n) > div {
  flex-direction: row-reverse;
}
.project > div:nth-child(2n) .title {
  margin-right: 10%;
}
.project > div:nth-child(2n) .img-wrap {
  left: 0;
}

@media (max-width: 991px) {
  .project > div {
    margin: 0;
    min-height: auto;
    padding: 30px 0;
  }
  .project > div:first-child {
    margin-top: 60px;
  }
  .project > div > div {
    justify-content: flex-start;
  }
  .project > div:nth-child(2n) > div {
    justify-content: flex-end;
  }
  .project .title {
    margin: 0 !important;
  }
  .project .title h1 {
    font-size: 30px;
  }
  .project .title h2 {
    font-size: 20px;
  }
  .project .title p {
    font-size: 15px;
  }
  .project .img-wrap {
    height: 380px;
  }
  .project .img-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  .project .title .btn {
    font-size: 15px;
  }
}
/* Project //END */

/* Showroon */
.showroom > div {
  outline: none;
  margin-bottom: 80px;
}
.showroom #sec01 > div.flex {
  position: relative;
  margin: 60px 0;
  min-height: 955px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
/* .showroom #sec01 > div {
  display: flex;
  flex-direction: row;
} */
.showroom #sec01 .title {
  position: relative;
  z-index: 2;
}
.showroom #sec01 .title .badge {
  font-size: 15px;
  background: #998256;
  color: #fff;
  text-transform: uppercase;
}
.showroom #sec01 .title h1 {
  font-size: 64px;
  font-weight: 600;
  /* color: #998256; */
  color: #fff;
}
.showroom #sec01 .title h2 {
  font-size: 32px;
  color: #fff;
}
.showroom #sec01 .title p {
  font-size: 21px;
  color: #898989;
}
.showroom #sec01 .title .btn {
  padding: 15px 55px;
  font-size: 21px;
}
.showroom #sec01 .title .btn.disabled {
  background: #1a1a1a;
  color: #998256;
  border: none;
  opacity: 1;
}
.showroom #sec01 .img-wrap {
  /* position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  max-width: 860px;
  height: 640px; */
  position: absolute;
  width: 100%;
  height: 955px;
  /* padding-bottom: 56.25%; */
}

.showroom #sec02,
.showroom #sec03 {
  min-height: auto;
}
.showroom #sec02 .showroom-slider .slick-slide,
.showroom #sec03 .showroom-slider .slick-slide {
  position: relative;
  overflow: hidden;
  /* height: 0;
  padding-bottom: 100%; */
  transition: 0.3s ease-out;
}
.showroom #sec02 .showroom-slider .slick-slide .cover,
.showroom #sec03 .showroom-slider .slick-slide .cover {
  display: none;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  opacity: 0;
  transition: 0.3s ease-out;
}
.showroom #sec02 .showroom-slider .slick-slide .cover a,
.showroom #sec03 .showroom-slider .slick-slide .cover a {
  display: none;
  padding: 0 20px;
  width: 80px;
  text-align: center;
  outline: none;
}
.showroom #sec02 .showroom-slider .slick-slide .cover a img,
.showroom #sec03 .showroom-slider .slick-slide .cover a img {
  margin: 0 auto;
}
.showroom #sec02 .showroom-slider .slick-slide:hover .cover,
.showroom #sec03 .showroom-slider .slick-slide:hover .cover {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.showroom #sec02 .showroom-slider .slick-slide:hover .cover a,
.showroom #sec03 .showroom-slider .slick-slide:hover .cover a {
  display: block;
}
.showroom #sec02 .showroom-slider-nav,
.showroom #sec03 .showroom-slider-nav {
  margin: 20px 20px 0;
}
.showroom #sec02 .showroom-slider-nav .slick-slide,
.showroom #sec03 .showroom-slider-nav .slick-slide {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid transparent;
}
.showroom #sec02 .showroom-slider-nav .slick-slide::before,
.showroom #sec03 .showroom-slider-nav .slick-slide::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  content: "";
}
.showroom #sec02 .showroom-slider-nav .slick-slide.is-active::before,
.showroom #sec03 .showroom-slider-nav .slick-slide.is-active::before {
  display: none;
}
.showroom #sec02 .showroom-slider-nav .slick-slide.is-active,
.showroom #sec03 .showroom-slider-nav .slick-slide.is-active {
  border: 2px solid #998256;
}
/* .showroom #sec02 .showroom-slider .slick-prev::before, */
/* .showroom #sec03 .showroom-slider .slick-prev::before, */
.showroom #sec02 .showroom-slider-nav .slick-prev::before,
.showroom #sec03 .showroom-slider-nav .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f053";
}
/* .showroom #sec02 .showroom-slider .slick-next::before, */
/* .showroom #sec03 .showroom-slider .slick-next::before, */
.showroom #sec02 .showroom-slider-nav .slick-next::before,
.showroom #sec03 .showroom-slider-nav .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f054";
}

.showroom #sec04 .video-box {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.showroom #sec04 .video-box iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}

.showroom #sec05 .dot-list li {
  position: relative;
  padding: 10px 0 10px 12px;
  font-size: 24px;
  text-transform: uppercase;
  color: #898989;
}
.showroom #sec05 .dot-list li::before {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -2px;
  width: 4px;
  height: 4px;
  background: #898989;
  content: "";
}

@media (max-width: 991px) {
  .showroom #sec01 .title h1 {
    font-size: 30px;
  }
  .showroom #sec01 .title h2 {
    font-size: 20px;
  }
  .showroom #sec01 .title p {
    font-size: 15px;
  }
  .showroom #sec01 .title .btn {
    font-size: 15px;
  }
  .showroom #sec01 .img-wrap::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    content: "";
  }
  .showroom #sec05 .dot-list li {
    font-size: 14px;
  }
}
/* Showroon //END */

/* product */
.wheel-list > div {
  margin-bottom: 100px;
  /* 20200826 YDE */
  vertical-align: top;
}
.wheel-list > div h1 {
  margin: 40px 0;
  font-size: 32px;
  color: #998256;
}

/* 20200826 YED  */
.wheel-list > div .image-wrap {
  padding-bottom: 100%;
  position: relative;
}

.wheel-list > div .image-detail {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.wheel-list > div .btn {
  padding: 15px 55px;
  font-size: 21px;
}

.wheel-detail > div {
  outline: none;
  margin-bottom: 100px !important;
}
.wheel-detail > div h1 {
  font-size: 64px;
  color: #998256;
}
.wheel-detail > div h1 small {
  font-size: 32px;
}
.wheel-detail > div h2 {
  font-size: 32px;
  color: #fff;
}
.wheel-detail > div ul li {
  font-size: 24px;
  color: #898989;
}
.wheel-detail > div .btn {
  padding: 15px 55px;
  font-size: 21px;
}

@media (max-width: 991px) {
  .wheel-list > div .btn {
    font-size: 15px;
  }
}

.exhaust .top-banner {
  padding: 50px;
  background: url("../img/sub/exhaust_top-banner.jpg") no-repeat center center /
    cover;
  margin-bottom: 100px;
}
.exhaust .top-banner h1 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #998256;
}
.exhaust .top-banner p {
  margin: 0;
  /* font-size: 40px; */
  color: #888;
}
.exhaust .top-banner .btn {
  padding: 15px 55px;
  font-size: 21px;
}

.exhaust .exhaust-slider .slick-slide {
  position: relative;
  overflow: hidden;
  /* height: 0;
  padding-bottom: 100%; */
  transition: 0.3s ease-out;
}
.exhaust .exhaust-slider .slick-slide .cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  opacity: 0;
  transition: 0.3s ease-out;
}
.exhaust .exhaust-slider .slick-slide .cover a {
  display: none;
  padding: 0 20px;
  width: 80px;
  text-align: center;
  outline: none;
}
.exhaust .exhaust-slider .slick-slide .cover a img {
  margin: 0 auto;
}
.exhaust .exhaust-slider .slick-slide:hover .cover {
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.exhaust .exhaust-slider .slick-slide:hover .cover a {
  display: block;
}

.exhaust .exhaust-slider .slick-slide img {
  margin: 0 auto;
}
.exhaust .exhaust-slider-nav {
  margin: 20px 20px 0;
}
.exhaust .exhaust-slider-nav .slick-slide {
  position: relative;
  cursor: pointer;
  margin: 0 10px;
  border: 2px solid transparent;
}
.exhaust .exhaust-slider-nav .slick-slide::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99;
  content: "";
}
.exhaust .exhaust-slider-nav .slick-slide.is-active::before {
  display: none;
}
.exhaust .exhaust-slider-nav .slick-slide.is-active {
  border: 2px solid #998256;
}
/* .exhaust .exhaust-slider .slick-prev::before, */
.exhaust .exhaust-slider-nav .slick-prev::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f053";
}
/* .exhaust .exhaust-slider .slick-next::before, */
.exhaust .exhaust-slider-nav .slick-next::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  content: "\f054";
}

@media (max-width: 991px) {
  .exhaust .top-banner h1 {
    font-size: 30px;
  }
  .exhaust .top-banner p {
    font-size: 15px;
  }
  .exhaust .top-banner .btn {
    font-size: 15px;
  }
}
/* product //END */

/* catalog */
.catalog-wrap .list {
  display: flex;
  align-items: center;
  min-height: 640px;
  transition: 0.5s ease-out;
}
.catalog-wrap .list .title {
  transition: 0.3s ease-out;
}
.catalog-wrap .list:hover .title {
  margin-bottom: 30px;
}
.catalog-wrap .list .title h1 {
  font-size: 56px;
  font-weight: 600;
  color: #998256;
}
.catalog-wrap .list .title h2 {
  font-size: 40px;
  font-weight: 400;
  color: #998256;
}
.catalog-wrap .list .cont {
  display: none;
  transition: 0.8s ease-out;
}
.catalog-wrap .list:hover .cont {
  display: block;
}
.catalog-wrap .list .cont h3 {
  font-size: 32px;
  color: #fff;
}
.catalog-wrap .list .cont p {
  font-size: 21px;
  color: #898989;
}
.catalog-wrap .list .cont .btn {
  padding: 15px 55px;
  font-size: 21px;
}
/* 
.catalog-wrap .list.keyrus {
  background: url("../img/sub/catalog_keyrus.jpg") no-repeat center center / cover;
}
.catalog-wrap .list.keyrus:hover {
  background: url("../img/sub/catalog_keyrus_hover.jpg") no-repeat center center / cover;
}
.catalog-wrap .list.continetal_gt_gtc {
  background: url("../img/sub/catalog_continetal_gt_gtc.jpg") no-repeat center center / cover;
}
.catalog-wrap .list.continetal_gt_gtc:hover {
  background: url("../img/sub/catalog_continetal_gt_gtc_hover.jpg") no-repeat center center / cover;
}
.catalog-wrap .list.hermes {
  background: url("../img/sub/catalog_hermes.jpg") no-repeat center center / cover;
}
.catalog-wrap .list.hermes:hover {
  background: url("../img/sub/catalog_hermes_hover.jpg") no-repeat center center / cover;
} */

@media (max-width: 991px) {
  .catalog-wrap .list {
    min-height: auto;
    padding: 120px 0;
  }
  .catalog-wrap .list .title h1 {
    font-size: 30px;
  }
  .catalog-wrap .list .title h2 {
    font-size: 23px;
  }
  .catalog-wrap .list .cont h3 {
    font-size: 20px;
  }
  .catalog-wrap .list .cont p {
    font-size: 15px;
  }
  .catalog-wrap .list .cont .btn {
    font-size: 15px;
  }
}
/* catalog //END */

/* about */
.info-wrap {
  width: 100%;
  max-width: 1680px;
  float: right;
}
.about .info-wrap {
  margin-top: 100px;
  margin-bottom: 30px;
}
.about .about-slider .slick-track {
  display: flex;
  align-items: baseline;
}
.about .about-slider .slick-dots li {
  display: none;
}
.about .about-slider .slick-slide {
  margin: 0 40px 0 0;
}
.about .slider-control {
}
.about .slider-control .paging-info {
  margin-left: 25px;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 6px;
  color: #fff;
}
.about .img-wrap {
  margin-bottom: 30px;
}
.about p.text {
  font-size: 24px;
  color: #898989;
}

.inside .row > div {
  margin-bottom: 95px;
}
.inside h1 {
  margin-top: 40px;
  font-size: 32px;
  color: #fff;
}
.inside p {
  margin-top: 20px;
  font-size: 24px;
  color: #898989;
}
/* about //END */

/* contact us */
.contact .contact_banner {
  background: url("../img/sub/contact_bg.jpg") no-repeat center center / cover;
  min-height: 720px;
}
.contact .contact_banner h2 {
  font-size: 40px;
  font-weight: 600;
  color: #998256;
}
.contact .contact_banner > div h3 {
  font-weight: 600;
}
.contact form .input-group {
  margin-top: 58px;
}
.contact form .input-group:first-child {
  margin-top: 0;
}
.contact form .input-group label {
  display: block;
  width: 100%;
  font-size: 28px;
}
.contact form .form-control {
  border: none;
  border-radius: 0 !important;
  background: none !important;
  font-size: 28px;
  color: #fff;
  border-bottom: 1px solid #454545 !important;
  padding: 0;
}
.contact form .form-control::placeholder {
  color: #fff;
}
.contact form select.form-control option {
  color: #333;
}
.contact form textarea.form-control {
  border: 1px solid #454545;
}
.contact form .btn {
  padding: 15px 55px;
  font-size: 21px;
  background: #1a1a1a;
  color: #998256;
  border: none;
}
.contact form .btn:hover {
  background: #171717;
}

@media (max-width: 991px) {
  .contact form .input-group {
    margin-top: 30px;
  }
  .contact form .input-group label,
  .contact form .form-control {
    font-size: 18px;
  }
}
/* contact us //END */
