
#frmFildWorkEvalConfig .dataTable {
	border-left:0;
	border-right:0;
}

#frmFildWorkEvalConfig .dataTable th:first-child, 
#frmFildWorkEvalConfig .dataTable td:first-child {
	border-left:0;
}

#frmFildWorkEvalConfig .dataTable th:last-child, 
#frmFildWorkEvalConfig .dataTable td:last-child {
	border-right:0;
}

#tbl_evalType, #tbl_evalClass, #tbl_evalItem, #tbl_evalAction  {
	border-top:0;
}

table#tbl_evalClass td {
    word-break: break-all;
}

@media screen and (min-width: 1023px) and (max-width: 1490px) {	
	#frmFildWorkEvalConfig input[name=evaltypeNm],
	#frmFildWorkEvalConfig input[name=evalItemNm]{
		width:120px !important;
	}

	#frmFildWorkEvalConfig input[name=evalActionNm]{
		width:200px !important;
	}

	#panel_evalAction .span_repeatDoc,
	#panel_evalItem .span_repeatDoc{
		display: block;
	}	
	
	#panel_evalAction .div_processingPeriod,
	#panel_evalItem .div_processingPeriod{
		vertical-align: top;
		padding-top: 20px !important;	
	}
}

#frmFildWorkEvalConfig .checkbox-inline{
	padding-left: 17px
}

#frmFildWorkEvalConfig input[type=checkbox]{
	margin-top: 3px;
}


@media screen and (min-width: 1025px) and (max-width: 1310px) {
	#frmFildWorkEvalConfig .panel-body{
		padding-left:10px;
		padding-right:10px;
	}

	#btn_s1_insert i, #btn_s1_save i, #btn_s1_delete i, #btn_s1_cancel i,
	#btn_s2_insert i, #btn_s2_save i, #btn_s2_delete i, #btn_s2_cancel i,
	#btn_s3_insert i, #btn_s3_save i, #btn_s3_delete i, #btn_s3_cancel i,
	#btn_s4_insert i, #btn_s4_save i, #btn_s4_delete i, #btn_s4_cancel i{
		display:none;
	}
}

@media screen and (min-width: 769px) and (max-width: 895px) {
	#frmFildWorkEvalConfig .panel-body{
		padding-left:10px;
		padding-right:10px;
	}

	#btn_s1_insert i, #btn_s1_save i, #btn_s1_delete i, #btn_s1_cancel i,
	#btn_s2_insert i, #btn_s2_save i, #btn_s2_delete i, #btn_s2_cancel i,
	#btn_s3_insert i, #btn_s3_save i, #btn_s3_delete i, #btn_s3_cancel i,
	#btn_s4_insert i, #btn_s4_save i, #btn_s4_delete i, #btn_s4_cancel i{
		display:none;
	}

	#frmFildWorkEvalConfig input[name=evaltypeNm],
	#frmFildWorkEvalConfig input[name=evalItemNm]{
		width:170px !important;
	}

	#frmFildWorkEvalConfig input[name=evalActionNm]{
		width:200px !important;
	}

	#panel_evalAction .span_repeatDoc,
	#panel_evalItem .span_repeatDoc{
		display: block;
	}	
	
	#panel_evalAction .div_processingPeriod,
	#panel_evalItem .div_processingPeriod{
		vertical-align: top;
		padding-top: 20px !important;	
	}
}

@media screen and (max-width: 675px) {
	#btn_s1_insert i, #btn_s1_save i, #btn_s1_delete i, #btn_s1_cancel i,
	#btn_s2_insert i, #btn_s2_save i, #btn_s2_delete i, #btn_s2_cancel i,
	#btn_s3_insert i, #btn_s3_save i, #btn_s3_delete i, #btn_s3_cancel i,
	#btn_s4_insert i, #btn_s4_save i, #btn_s4_delete i, #btn_s4_cancel i{
		display:none;
	}
}

@media screen and (max-width: 580px) {
	#panel_evalAction .span_repeatDoc,
	#panel_evalItem .span_repeatDoc{
		display: block;
	}	
}

@media screen and (max-width: 425px) {
	#frmFildWorkEvalConfig .tbl_evaltypeForm .td1{
	    display: block;
	}
	#frmFildWorkEvalConfig .tbl_evaltypeForm .td2{
		float: left;
		padding-left: 0 !important;
		padding-bottom: 10px;
	}
	#frmFildWorkEvalConfig .tbl_evaltypeForm .td3{
		display: block;
		padding: 0 !important;
	}



	#frmFildWorkEvalConfig .tbl_evalClassForm .c_1_1{
		display: block;
	}
	#frmFildWorkEvalConfig .tbl_evalClassForm .c_1_2{
		display: block;
		padding-left: 0 !important;
	}
	#frmFildWorkEvalConfig .tbl_evalClassForm .c_1_3{
		display: block;
		padding-left: 0 !important;
		padding-top: 5px;
	}
	#frmFildWorkEvalConfig .tbl_evalClassForm .c_2_1{
		display: block;
		padding-top: 20px !important;
	}
	#frmFildWorkEvalConfig .tbl_evalClassForm .c_2_2{
		display: block;
	}

	#frmFildWorkEvalConfig .checkbox-inline{
		padding-top:0;
	}
	#frmFildWorkEvalConfig .div-methodTypeCode3,
	#frmFildWorkEvalConfig .div-methodTypeCode4{
		margin-top:10px;
	}


	#frmFildWorkEvalConfig .tbl_evalItemForm td{
		display: block;
	}
	#frmFildWorkEvalConfig .tbl_evalItemForm .c_1_3{
		padding-top:5px;
	}
	#frmFildWorkEvalConfig .tbl_evalItemForm .c_2_2{
		padding-top:0 !important;
	}



	#frmFildWorkEvalConfig .tbl_evalActionForm td{
		display: block;
	}
	#frmFildWorkEvalConfig .tbl_evalActionForm .c_2_2{
		padding-top:0 !important;
	}
	#frmFildWorkEvalConfig .tbl_evalActionForm .c_1_3{
		padding-top:5px;
	}


}