/*
모바일 datatable 버튼 재정렬
*/
@media screen and (max-width: 767px) {
  .dt-buttons {
    float: none;
    text-align: center;
    margin-right : 10px;
	display : inline !important;
  }
  .dt-buttons .btn {
    float: none;
  } 
}
@media screen and (max-width: 414px) {
	.btn-xs, .btn-group-xs > .btn{
		--padding: 3px 5px;
	}
	.panel-body{
		padding: 3px 5px;
	}
	#workSpace Div{
		word-break:break-all;
	}

	#dataList_filter .form-control{
		width:100px !important;
	}

	.datatable-header, .datatable-footer {
		padding: 10px 10px 0 10px;
	}
	.dt-buttons {
		margin-right: 0px; 
	}
}
.paging_simple .paginate_button:hover, .paging_simple .paginate_button:focus{
	background-color : transparent;
}
.dataTables_paginate .paginate_button:hover, .dataTables_paginate .paginate_button:focus{
	background-color : transparent;
}

.text-skip { 
	overflow : hidden;
	text-overflow : ellipsis;
} 
 
.table-layout-fixed { 
	table-layout : fixed;
}

 .myclass {
    text-align: right;
}
/*
data table 페이징 버튼 css 컨트롤
*/


/* ----------- 결재상태선택 SELECT BOX ----------- */
#dataList_filter label{
	float: left;
}

#tableFilter_appState{
    float: left;
	padding-left:10px;
}

#tableFilter_gonggu_list{
    float: left;
	padding-left:10px;
}


@media screen and (max-width: 458px) {

	#dataList_filter label span{
		display:none
	}
	#dataList_filter input[type="search"] {
		width:100px;
	}

	#tableFilter_appState {
		width:100px;
	}
	
	#tableFilter_gonggu_list{
		padding-left: 25px;
	}

	#dataList_filter {
		margin-bottom:0px
	}

	.datatable-header{
		text-align:right !important;
	}
}

/* ----------- // 결재상태선택 SELECT BOX ----------- */