


/*
전자결재 관련 
*/
.lableApproval{
	padding-top: 10px;
	vertical-align:middle;
}
.contentDiv{
	height : 5px;
}

.treeScroll{

}

.approvalScrollY{
	overflow-y:auto;
}
/*
전자결재 관련
*/

/* 모달 관련 */
.modal-dialog {
  /*margin: 10px auto;*/
}

.padding-top-10{
	padding-top: 10px;
}


.modal-select-pc{
  height: 150px !important; 
  padding: 7px;
  width:100%;
}
.modal-select-mobile{
  height: 30px !important; 
  padding: 7px;
  width:100%;
}

.bootstrap-switch-container span {
	width:60px;
} 
#chkSwitch_Receive_div .bootstrap-switch-container .bootstrap-switch-handle-on
,#chkSwitch_Receive_div .bootstrap-switch-container .bootstrap-switch-handle-off{
	width:140px !important;
} 

#chkSwitch_Receive_div .bootstrap-switch-wrapper{
	width: 450px;
}

#pAppLineBox{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	height : 28px !important; 
	padding : 0px;
	margin-bottom : 0px;
	display: inline;
	width: 120px;
}
