<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberDAO">

<resultMap id="mamberMap" type="java.util.Map">
        <result property="uniqueId" column="unique_id"/>
        <result property="mberId" column="mber_id"/>
        <result property="password" column="password"/>
        <result property="mberNm" column="mber_nm"/>
        <result property="email" column="email"/>
        <result property="mberNm" column="mber_nm"/>
        <result property="mberGbn" column="mber_gbn"/>
        <result property="useYn" column="use_yn"/>
        <result property="creatDttm" column="creat_dttm"/>
        <result property="crtrId" column="crtr_id"/>
        <result property="updtDttm" column="updt_dttm"/>
    </resultMap>

    <select id="findByUserId" resultType="hashmap"  parameterType="string">
        SELECT mber_id                                                              AS mber_id
             , password                                                             AS password
             , mber_nm                                                              AS mber_nm
             , email                                                                AS email
             , mber_gbn                                                             AS mber_gbn
             , unique_id
         FROM tb_mber
        WHERE use_yn = 'Y'
          AND mber_id = #{mberId};
    </select>

    <select id="selectMemberList" resultType="hashMap">
    SELECT A.*
          FROM (
                  SELECT @ROWNUM := @ROWNUM + 1                                                                                             AS `rownum`
                        , `unique_id`																				                        AS `unique_id`
                        , (
                              SELECT COUNT(*)
                                FROM tb_mber A
                                <if test="searchKeyword != null and searchKeyword != ''">
                                    <if test="searchType != null and searchType != ''">
                                        <if test="searchType == 'all'">
                                            WHERE email LIKE CONCAT('%', #{searchKeyword}, '%') OR mber_id LIKE CONCAT('%', #{searchKeyword}, '%')
                                        </if>
                                        <if test="searchType == 'mber_id'">
                                            WHERE mber_id LIKE CONCAT('%', #{searchKeyword}, '%')
                                        </if>
                                        <if test="searchType == 'email'">
                                            WHERE email LIKE CONCAT('%', #{searchKeyword}, '%')
                                        </if>
                                    </if>
                                </if>
                          )                                                                                                                 AS `total_cnt`
                        , `mber_id`																				                            AS `mber_id`
                        , `mber_nm`																				                            AS `mber_nm`
                        , `email`																				                            AS `email`
                        , `use_yn`																				                            AS `use_yn`
                        , (SELECT cd_nm FROM tb_code where csf_cd = 'POSITION' AND cd = `position`)											AS `position`
                        , DATE_FORMAT(`creat_dttm`, '%Y-%m-%d %H:%i:%s')                                                                    AS `creat_dttm`     
                        , (SELECT inqire_dt FROM tb_systemlog slog where slog.unique_id = unique_id  limit 0,1) 						                            AS `last_login_at`
                     FROM tb_mber
                         , (SELECT @ROWNUM := 0) AS TEMP
                     <if test="searchKeyword != null and searchKeyword != ''">
                         <if test="searchType != null and searchType != ''">
                            <if test="searchType == 'all'">
                                WHERE email LIKE CONCAT('%', #{searchKeyword}, '%') OR mber_id LIKE CONCAT('%', #{searchKeyword}, '%')
                            </if>
                             <if test="searchType == 'mber_id'">
                                 WHERE mber_id LIKE CONCAT('%', #{searchKeyword}, '%')
                             </if>
                             <if test="searchType == 'email'">
                                 WHERE email LIKE CONCAT('%', #{searchKeyword}, '%')
                             </if>
                         </if>
                     </if>
                  ORDER BY `creat_dttm` DESC
          ) A
        WHERE A.ROWNUM BETWEEN (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1)) - (IFNULL(#{limit}, 10) - 1) AND (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1))
    </select>

    <select id="selectMember" resultType="hashMap">
     SELECT `mber_id`																				                                        AS `mber_id`
          , `mber_nm`																				                                        AS `mber_nm`
          , `unique_id`																				                                        AS `unique_id`
          , `use_yn`																				                                        AS `use_yn`
          , `mber_gbn`																				                                        AS `mber_gbn`
          , `password`																				                                        AS `password`
          , `email`																				                                            AS `email`
          , `position`																				                                        AS `position`
          , `creat_dttm`																			                                        AS `creat_dttm`
          , (
              SELECT DATE_FORMAT(`inqire_dt`, '%Y-%m-%d %H:%i:%s') 
                FROM tb_systemlog 
               WHERE `unique_id` = `unique_id` 
               ORDER BY `inqire_dt` DESC LIMIT 1) 						                                                                    AS `last_login_at`
        FROM tb_mber
       WHERE unique_id = #{unique_id} 
    </select>

    <select id="selectMemberLog" resultType="hashMap">
    SELECT A.*
          FROM (
                  SELECT @ROWNUM := @ROWNUM + 1                                                     AS `rownum`
                       , DATE_FORMAT(`inqire_dt`, '%Y-%m-%d %H:%i:%s')                              AS `inqire_dt`     
                       , (SELECT COUNT(*) FROM tb_systemlog WHERE unique_id = #{unique_id})         AS `total_cnt`
                       , srvc_nm                                                                    AS `srvc_nm`
                       , inqire_info                                                                AS `inqire_info`
                       , rqester_ip                                                                 AS `rqester_ip`
                    FROM tb_systemlog
                       , (SELECT @ROWNUM := 0) AS TEMP
                  WHERE unique_id = #{unique_id}
               ORDER BY inqire_dt DESC
          ) A
      WHERE A.ROWNUM BETWEEN (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1)) - (IFNULL(#{limit}, 10) - 1) AND (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1))
    </select>

    <select id="selectCmmCodeList" resultType="hashMap">
        SELECT csf_cd															AS csf_cd
             , cd																AS cd
             , cd_nm															AS cd_nm
             , cd_dsc															AS cd_dsc
          FROM tb_code
         WHERE csf_cd IN ('POSITION','ROLE')
    </select>

    <select id="checkUsedEmail" resultType="integer" parameterType="java.util.Map">
        SELECT COUNT(*) AS emailCheck FROM tb_mber WHERE email = #{email}
    </select>

    <select id="checkUsedMberId" resultType="integer" parameterType="java.util.Map">
        SELECT COUNT(*) AS idcheck FROM tb_mber WHERE mber_id = #{mber_id}
    </select>

    <insert id="insertAdminMember" parameterType="java.util.Map">
        INSERT INTO tb_mber ( mber_id
                            , mber_nm
                            , position
                            , mber_gbn
                            , email
                            , password
                            , use_yn
                            , creat_dttm
                            , updt_dttm
                            , crtr_id
                            )
                      VALUES( #{mber_id}
                            , #{mber_nm}
                            , #{position}
                            , #{mber_gbn}
                            , #{email}
                            , #{password}
                            , 'Y'
                            , now()
                            , now()
                            , #{crtr_id}
                            )
    </insert>

    <update id="updateAdminMember" parameterType="java.util.Map">
        UPDATE tb_mber 
           SET mber_gbn  = #{mber_gbn}
             , position  = #{position}
             , mber_nm   = #{mber_nm}
             <if test="password != null and password != ''">
             , password  = #{password}
             </if>
             , email     = #{email}
             , updt_dttm = now()
             , updusr_id = #{crtr_id}
         WHERE unique_id = #{unique_id}
    </update>

    <update id="deleteAdminMembmer" parameterType="java.util.Map">
        UPDATE tb_mber 
           SET use_yn  = 'N'
             , updt_dttm = now()
             , updusr_id = #{crtr_id}
         WHERE unique_id = #{unique_id}
    </update>

    
</mapper>