<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="PopupDAO">

  <select id="selectPopupList"  resultType="hashmap" parameterType="java.util.Map">
  SELECT A.*
          FROM (
                  SELECT @ROWNUM := @ROWNUM + 1                                                                                          AS `rownum` 
                        , `pop_id`																										                                                   AS `pop_id`
                        , (
                            SELECT COUNT(*)
                              FROM tb_popup A
                             WHERE del_yn = "N" 
                              <if test="searchKeyword != null and searchKeyword != ''">
                                  <if test="searchType != null and searchType != ''">
                                        AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                                  </if>
                              </if>
                          )                                                                                                              AS `total_cnt`
                      , `title`                                                                                                          AS `title`
                      , DATE_FORMAT(`start_dttm`, '%Y-%m-%d')                                                                            AS `start_dttm`
                      , DATE_FORMAT(`end_dttm`, '%Y-%m-%d')                                                                              AS `end_dttm`
                      , `loca_wi`                                                                                                        AS `loca_wi`
                      , `loca_hi`                                                                                                        AS `loca_hi`
                      , `size_wi`                                                                                                        AS `size_wi`
                      , `size_hi`                                                                                                        AS `size_hi`
                      , `use_yn`                                                                                                         AS `use_yn`
                      , `del_yn`                                                                                                         AS `del_yn`
                      , `updt_dttm`                                                                                                      AS `updt_dttm`
                      , `updusr_id`                                                                                                      AS `updusr_id`
                    FROM tb_popup
                      , (SELECT @ROWNUM := 0) AS TEMP
                  WHERE del_yn = "N"    
                      <if test="searchKeyword != null and searchKeyword != ''">
                          <if test="searchType != null and searchType != ''">
                                  AND title LIKE CONCAT('%', #{searchKeyword}, '%')
                          </if>
                      </if>
                ORDER BY `creat_dttm` DESC
         ) A
     WHERE A.ROWNUM BETWEEN (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1)) - (IFNULL(#{limit}, 10) - 1) AND (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1))
  </select>

  <select id="selectPopup" resultType="hashmap" parameterType="java.util.Map">
    SELECT `pop_id`																										   AS `pop_id`
  	     , `title`                                                                                                          AS `title`
         , DATE_FORMAT(`start_dttm`, '%Y-%m-%d')                                                                            AS `start_dttm`
         , DATE_FORMAT(`end_dttm`, '%Y-%m-%d')                                                                              AS `end_dttm`
         , `loca_wi`                                                                                                        AS `loca_wi`
         , `loca_hi`                                                                                                        AS `loca_hi`
         , `size_wi`                                                                                                        AS `size_wi`
         , `size_hi`                                                                                                        AS `size_hi`
         , `contents`                                                                                                       AS `contents`
         , `use_yn`                                                                                                         AS `use_yn`
         , `del_yn`                                                                                                         AS `del_yn`
      FROM tb_popup
    WHERE `pop_id` = #{pop_id}
  </select>

  <insert id="insertPopup" parameterType="java.util.Map">
    INSERT INTO tb_popup (  title
                          , start_dttm
                          , end_dttm
                          , loca_hi
                          , loca_wi
                          , size_hi
                          , size_wi
                          , use_yn
                          , del_yn
                          , contents
                          , creat_dttm
                          , crtr_id
                          , updt_dttm
                          , updusr_id
                          ) VALUES(
                            #{title}
                          , #{start_dttm}
                          , #{end_dttm}
                          , #{loca_hi}
                          , #{loca_wi}
                          , #{size_hi}
                          , #{size_wi}
                          , #{use_yn}
                          , "N"
                          , #{contents}
                          , now()
                          , #{crtr_id}
                          , now()
                          , #{crtr_id}
                          )
  </insert>

  <update id="updatePopup" parameterType="java.util.Map">
       UPDATE tb_popup SET
          <if test="title != null and title != ''">
           title       = #{title},
          </if>
          <if test="start_dttm != null and start_dttm != ''">
           start_dttm  = #{start_dttm},
          </if>
          <if test="end_dttm != null and end_dttm != ''">
           end_dttm    = #{end_dttm},
          </if>
          <if test="loca_hi != null and loca_hi != ''">
           loca_hi     = #{loca_hi},
          </if>
          <if test="loca_wi != null and loca_wi != ''">
           loca_wi     = #{loca_wi},
          </if>
          <if test="size_hi != null and size_hi != ''">
           size_hi     = #{size_hi},
          </if>
          <if test="size_wi != null and size_wi != ''">
           size_wi     = #{size_wi},
          </if>
          <if test="use_yn != null and use_yn != ''">
           use_yn      = #{use_yn},
          </if>
          <if test="contents != null and contents != ''">
           contents      = #{contents},
          </if>
           updt_dttm   = now(),
           updusr_id   = #{crtr_id}
        WHERE pop_id = #{pop_id}
  </update>

  <update id="deletePopup" parameterType="java.util.Map">
    UPDATE tb_popup SET del_yn = "Y" WHERE pop_id = #{pop_id}
  </update>
</mapper>