.smallHeader{
    padding-top:3px !important;
    padding-bottom:3px !important;
}

.valign-top{
    vertical-align:top !important;
}

.PrjName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    --width: 197px;
    font-size: 10pt;
    line-height: 160%;
    font-weight: bold;
    margin-left: 3px;
}

.dates {
    margin-left: 8px;
}

.naviTable{
    --width:auto !important;
    table-layout:fixed !important;
}

.naviTable td{
    --padding:10px 10px 10px 10px !important;
    padding-top:10px !important;
    padding-bottom:10px !important;

    border: 1px solid #ddd;
}

.choiceDt {
    color: red !important;
}

#btn_excelDown{
    margin-left:10px;
    margin-top:5px;
    margin-bottom: 5px;
}


.min-200{
    min-width:200px
}


@media screen and (max-width: 1700px) {
    /*#weekPicDiv{
            clear: both;
            width: 100%;
            padding-top:10px;
    }*/
}
