
#modal_reportEdit .form-group{
    margin-bottom:10px
}

.plupload_filelist:empty:after, .plupload_filelist li.plupload_droptext:after{
    padding-top: 130px !important;
}

.plupload_filelist:empty:before, .plupload_filelist li.plupload_droptext:before {
    padding-top: 10px !important;
}

.plupload_droptext{
    height: 125px !important;
}

#uploadEvent_filelist{
    height: 125px !important;
}

#reportDetailForm .plupload_scroll .plupload_filelist{
    max-height: 150px !important;
}

@media screen and (max-width: 1199px) {
    .dt_col2{
        margin-top:0 !important;
    }
    .dt_col3, .dt_col4{
        margin-top:10px !important;
    }
}

@media screen and (max-width: 1024px) {
    .form-group div[class*="col-md-"]:not(.control-label) + div[class*="col-md-"] {
        margin-top: 10px !important;
    }
}

.form-group{
    margin-bottom: 10px !important;
}

.col-content{
    border-top: 1px solid #bbbbbb;
    padding-top:5px;
}
