
/*넘버*/
.graph-number{
	height:35px;
}


.content .right-body{
	padding-right:20px;
}


.content .center-container{
   height:350px;
   margin-bottom:10px;

}
@media (max-width: 1024px) {
	.content .right-body{
		padding-right:10px;
	}

	.content .graph-number{
		height:35px;
	}
}

@media (max-width: 860px) {
	.content .graph-number{
		height:30px;
	}
}

.content .percent-padding{
	padding:0px;
}

#fab_folder{
	display:none;
}

@media (max-width: 768px) {
	.content .right-body{
		padding-top:30px;
	}

	#fab_folder{
		display:block;
	}

	.content .center-container{
		height:50px;
	}
	.no-thumbnail{
		padding-top:15px !important;
	}
	.center-summary-box{
		height:50px !important;
	}
	.no-summary{
		padding-top:15px !important;
	}
	#banner-slide-div{
		padding-left:10px;
		padding-right:10px;
	}
}

@media (max-width: 458px) {
	.graph-number{
		height:25px;
	}
}
@media (min-width: 769px) AND (max-width: 1024px) {
	#modalDetailInfo .modal-dialog {
		width: 97%;
		margin: 30px auto;
	}

	#banner-slide-div, .bjqs, .bjqs-slide, .bjqs-slide img, .bjqs-slide center{
		width:100% !important;
	}
	#banner-slide-div{
		padding-left:10px;
		padding-right:10px;
	}
}

#modalDetailInfo hr{
	margin-top: 15px;
	margin-bottom : 15px;
	width: 90%;

}


#modalDetailInfo table{
	font-size:13px;
	width:100%;
}

#modalDetailInfo .row{
	margin-left:-5px;
	margin-right:-5px;
}

#modalDetailInfo .modal-body{
	padding:5px;
	padding-top:20px;
}

.bg-blue-round{
	background-image: url(/resources/module/assets/images/graph-bg-img/blue-box-bg.gif);
	background-repeat:repeat;
	background-position:right center;
	border-top-left-radius :25px;
	border-bottom-left-radius :25px;
}

.bg-orange-round{
	background-image:  url(/resources/module/assets/images/graph-bg-img/orange-box-bg.gif);
	background-repeat:repeat;
	background-position:right center;
	border-top-right-radius :25px;
	border-bottom-right-radius :25px;

}


.bg-blue-box{
	background-image: url(/resources/module/assets/images/graph-bg-img/blue-box-bg.gif);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position:right center;

}

.bg-orange-box{
	background-image: url(/resources/module/assets/images/graph-bg-img/orange-box-bg.gif);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position:right center;

}

.bg-gray-box{
	background-image:  url(/resources/module/assets/images/graph-bg-img/gray-box-bg.gif);
	background-size: 100% 100%;
	background-repeat:no-repeat;
	background-position:right center;

}

.padding-left-10{
	padding-left:10px;
}
.padding-right-10{
	padding-right:10px;
}
.margin-bottom-10{
	margin-bottom :10px;
}
.margin-top-10{
	margin-top :10px !important;
}

.tr-height{
	height:28px;
}
.grp-table  td{
	height:24px;
	font-weight:bold;
	color: #ffffff;
}

.bg-color-gray{
	background-color: #b2b2b2;
	background-position: -10000px center;
}

.font-large{
	font-size: medium;
}

.table-border td{
	border:1px solid #ddd;

}

/*기성목록 리스트*/
.depositList{
    padding-top: 10px;
    width: 100%;
    --max-height: 230px;
    max-height: 420px;
    overflow-y: auto;
    overflow-x: hidden;
}


.depositList td {
	height:25px;
	padding-right: 4px;
    padding-left: 4px;

}




#modal-sDt ,#modal-deposit,#modal-amount,#modal-real,#modal-plan{
	width:0%;
}
#modal-eDt , #modal-deposit-right,#modal-amount-right,#modal-real-right,#modal-plan-right{
	width:100%;
}



.hr-hidden{
	display:none;
}

@media (max-width: 1024px) {
	.hr-hidden{
		display:block;
	}
}


@media (max-width: 768px) {
	.modal-btns{
		text-align:center;
		margin-top:5px;
	}
}




.float-left{
	float:left;
	margin:3px;

}
.float-right{
	float:right;
	margin:3px;
}


@media (max-width: 450px) {
	.float-left, .float-right{
		float: none;
	}
}


.border-line{
	border-bottom:1px solid #ddd;
	width:98%;
	margin:0px;
}

.no-summary-box-padding{
	padding-top : 100px;
}

.file-summary-box-padding{
	padding-top	: 50px !important;

}

.fnm-elipsis{
	text-overflow:ellipsis;
	overflow:hidden;
    margin-top: 10px;
}


.row-margin{
	margin-top:10px !important;
}
.depositMargin{
	--margin-top:27px !important;
	margin-top:10px !important;
}

.date-table{
	margin-bottom:10px;
}

.row-line{
	border-bottom:1px solid #ddd;
}
