#datatable_yearList_wrapper .datatable-header{
    padding-top:0;
}


#frmOrderPlanEdit .form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.tr-sum {
    background-color: #f4f4f4 !important;
    color: #262929;
    font-weight: 600;
}

#datatable_yearList th{
    text-align:center !important;
}


#datatable_yearList_wrapper .datatable-footer {
    padding: 1px 20px 0 20px !important;
}

#datatable_yearList_wrapper .dataTables_length {
    margin: 0 0 0 0 !important;
}

#datatable_yearList_wrapper .dataTables_info{
    margin-bottom: 0 !important;
}

#datatable_yearList_wrapper .dataTables_paginate{
    margin: 0 0 0 20px !important;
    padding-top:2px;
}

#datatable_yearList_wrapper .dt-buttons{
margin-top:0px;
}

#yearDetail .tr-sum{
    height:38px;
}