<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComDAO">

  <select id="usp_zt_00_login_pda" statementType="CALLABLE" resultType="hashmap">
    {
        call usp_zt_00_login_pda ('',#{id},'1234')
    }
  </select>

  <select id="usp_zt_99_popup_wh_cd" statementType="CALLABLE" resultType="hashmap">
    {
        call usp_zt_99_popup_wh_cd (#{shFacCd},#{shWhCd})
    }
  </select>



  <select id="getSelectCusInfo" resultType="hashmap" parameterType="java.util.Map">
  /*** ComDAO.getSelectCusInfo  거래처 가져올때 사용 ***/
    select b.wh_cd as 'whCd', b.wh_nm as 'whNm', a.cust_cd as 'custCd', a.cust_nm as 'custNm'
    From bcv100 as a
    left join bcw100 as b on a.cust_cd = b.cust_cd
    where 1=1
    and a.sal_yn = '1'
     and a.use_yn = '1'
     and b.wh_cd is not null
		  <if test="whCd != null and whCd != ''">
		    and  b.wh_cd =  #{whCd}
		  </if>
  </select>
</mapper>
