<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComDAO">

  <select id="usp_zt_00_login_pda" statementType="CALLABLE" resultType="hashmap">
    {
        call usp_zt_00_login_pda ('hanil',#{username},#{password})
    }
  </select>

  <select id="usp_zt_99_popup_wh_cd" statementType="CALLABLE" resultType="hashmap">
    {
        call usp_zt_99_popup_wh_cd (#{shFacCd},#{shWhCd})
    }
  </select>

  <select id="getSelectCusInfo" resultType="hashmap" parameterType="java.util.Map">
  /*** ComDAO.getSelectCusInfo  거래처 가져올때 사용 ***/
    select b.wh_cd as 'whCd', b.wh_nm as 'whNm', a.cust_cd as 'custCd', a.cust_nm as 'custNm'
    From bcv100 as a
    left join bcw100 as b on a.cust_cd = b.cust_cd
    where 1=1
    and a.sal_yn = '1'
     and a.use_yn = '1'
     and b.wh_cd is not null
		  <if test="whCd != null and whCd != ''">
		    and  b.wh_cd =  #{whCd}
		  </if>
  </select>


  <select id="getFacInfo" resultType="hashmap" parameterType="java.util.Map">
  /*** ComDAO.getFacInfo  공장 가져올때 사용 ***/
       select fac_cd as fac_cd
       			, fac_nm as fac_nm
         from bcc300
				where 1 = 1
		  <if test="facCd != null and facCd != ''">
		    and  fac_cd =  #{facCd}
		  </if>
		  <if test="facNm != null and facNm != ''">
		    and  fac_nm LIKE '%' +  #{facNm} +  '%'
		  </if>

  </select>

  <select id="getWhInfo" resultType="hashmap" parameterType="java.util.Map">
    /*** ComDAO.getWhInfo  창고 가져올때 사용 ***/
    select wh_cd as 'whCd', wh_nm as 'whNm'
    from bcw100
    where 1 = 1
    <if test="facCd != null and facCd != ''">
      and  fac_cd =  #{facCd}
    </if>
    <if test="facNm != null and facNm != ''">
      and  fac_nm LIKE '%' +  #{facNm} +  '%'
    </if>
    <if test="whNm != null and whNm != ''">
      and  wh_nm LIKE '%' +  #{whNm} +  '%'
    </if>

  </select>




</mapper>
