<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ComDAO">

  <select id="usp_zt_00_login_pda" statementType="CALLABLE" resultType="hashmap">
    {
        call usp_zt_00_login_pda ('',#{id},'1234')
    }
  </select>

  <select id="usp_zt_99_popup_wh_cd" statementType="CALLABLE" resultType="hashmap">
    {
        call usp_zt_99_popup_wh_cd (#{shFacCd},#{shWhCd})
    }
  </select>


</mapper>
