<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MainDAO">

  <!-- 메인 차트 리스트 조회 -->
  <select id="getMainChart" resultType="hashmap" parameterType="java.util.Map">
  /*** MainDAO.getMainChart  메인 차트 리스트  ***/
  select vv.wc_cd
    , sum(vv.ready_qty) as ready_qty
    , sum(vv.wrk_in_tot) as wrk_in_tot
    , sum(vv.ok_in_tot) as ok_in_tot
    , sum(vv.bad_in_tot) as bad_in_tot
  from (
      select   a.fac_cd, a.wc_cd,
          --실적대기량
          dbo.fnRoutingReadyQty('0', a.wo_id) as ready_qty,
          z.wrk_in_tot,   /***공정투입계**/
          z.ok_in_tot,    /***양품실적계**/
          z.bad_in_tot    /***불량실적계**/
      from  ppb150 a
          join ppb100 m on m.wo_no = a.wo_no
          left join dma100 b on b.itm_id = m.itm_id
          left join dma110 s on s.itm_id = m.itm_id
          left join scu100 u on u.reg_id = a.mid
          left join (
              select z.wo_no, z.wo_sq, z.div_sq,
                  sum(z.wrk_in_qty) as wrk_in_tot,
                  sum(z.ok_in_qty)  as ok_in_tot,
                  sum(z.bad_in_qty) as bad_in_tot,
                  sum(z.ok_rep_qty) as ok_rep_tot,
                  sum(z.ok_brk_qty) as ok_brk_tot,
                  sum(case when k.m2  = '1' then z.ok_out_qty  end) as ok_out_2_tot,
                  sum(case when k.m3  = '1' then z.ok_out_qty  end) as ok_out_3_tot,
                  sum(case when k.m5  = '1' then z.ok_out_qty  end) as ok_out_5_tot,
                  sum(case when v.m11 = '1' then z.bad_out_qty end) as bad_out_11_tot,
                  sum(case when v.m12 = '1' then z.bad_out_qty end) as bad_out_12_tot
              from  ppc100 z
                  left join bca200v k on k.base_cd = z.ok_out_bc
                  left join bca200v v on v.base_cd = z.bad_out_bc
              group by z.wo_no, z.wo_sq, z.div_sq
          ) z
          on  z.wo_no = a.wo_no
          and   z.wo_sq = a.wo_sq
          and   z.div_sq = a.div_sq
      where 1=1
       /***and  a.fr_dt >= convert(varchar(10), getdate()-1 , 121)**/
       and  a.fr_dt >= '2023-05-08'
      <if test="facCd != null and facCd != ''">
        and  a.fac_cd = #{facCd}
      </if>
      <if test="wcCd != null and wcCd != ''">
        and  a.wc_cd = #{wcCd}
      </if>

    ) vv
    group by vv.wc_cd

  </select>
</mapper>