<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="OsProcInDAO">

    <!-- wheel 테이블 컬럼 -->
    <resultMap id="wheelMap" type="java.util.Map">
        <result property="wheelId" column="wheel_id"/>
        <result property="wheelNm" column="wheel_nm"/>
        <result property="wheelImgId" column="wheel_img_id"/>
        <result property="wheelImgNm" column="wheel_img_nm"/>
        <result property="wheelImgPath" column="wheel_img_path"/>
        <result property="adtDsc" column="adt_dsc"/>
        <result property="sizeCntn" column="size_cntn"/>
        <result property="degnCntn" column="degn_cntn"/>
        <result property="expsYn" column="exps_yn"/>
        <result property="delYn" column="del_yn"/>
        <result property="creatDttm" column="creat_dttm"/>
        <result property="crtrId" column="crtr_id"/>
        <result property="updtDttm" column="updt_dttm"/>
        <result property="updusrId" column="updusr_id"/>
        <result property="totalCnt" column="total_cnt"/>
        <result property="rownum" column="rownum"/>
    </resultMap>

    <!-- wheel 리스트 조회 -->
    <select id="selectWheelList" resultMap="wheelMap" parameterType="java.util.Map">
        SELECT A.*
          FROM (
                   SELECT /*ProductDAO.selectWheelList*/
                          @ROWNUM := @ROWNUM + 1              AS ROWNUM           /*순번*/
                        , (
                              SELECT COUNT(1)
                                FROM tb_wheel A
                               WHERE A.DEL_YN = 'N'
                                <if test="searchKeyword != null and searchKeyword != ''">
                                    <if test="searchType != null and searchType != ''">
                                        <if test="searchType == 'title'">
                                            AND WHEEL_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                                        </if>
                                        <if test="searchType == 'cntn'">
                                            AND ADT_DSC LIKE CONCAT('%', #{searchKeyword}, '%')
                                        </if>
                                    </if>
                                </if>
                          )                                   AS TOTAL_CNT        /*전체개수*/
                        , WHEEL_ID                                                /*wheel아이디*/
                        , WHEEL_NM                                                /*wheel명*/
                        , EXPS_YN                                                 /*노출여부*/
                        , DATE_FORMAT(CREAT_DTTM, '%Y-%m-%d') AS CREAT_DTTM       /*등록일자*/
                        , DATE_FORMAT(UPDT_DTTM, '%Y-%m-%d')  AS UPDT_DTTM        /*수정일자*/
                     FROM tb_wheel
                        , (SELECT @ROWNUM := 0) AS TEMP
                    WHERE DEL_YN = 'N'
                     <if test="searchKeyword != null and searchKeyword != ''">
                         <if test="searchType != null and searchType != ''">
                             <if test="searchType == 'title'">
                                 AND WHEEL_NM LIKE CONCAT('%', #{searchKeyword}, '%')
                             </if>
                             <if test="searchType == 'cntn'">
                                 AND ADT_DSC LIKE CONCAT('%', #{searchKeyword}, '%')
                             </if>
                         </if>
                     </if>
                 ORDER BY WHEEL_ID DESC
               ) A
         WHERE A.ROWNUM BETWEEN (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1)) - (IFNULL(#{limit}, 10) - 1) AND (IFNULL(#{limit}, 10) * IFNULL(#{page}, 1))
    </select>
</mapper>
