<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RcvRawMtisDAO">

  <select id="getLotMasterInfoInCheck" resultType="hashmap" parameterType="java.util.Map">
  /*** ShipRegDAO.getLotMasterInfoInCheck  원소재입고 바코드 조회 ***/
    select barcode, itm_id, pda_qty as pda_qty, pda_fac, pda_wh, io_ty, src_no, src_sq, lot_no,
          (select itm_nm from dma100 a where a.itm_id = b.itm_id) as itm_nm,
          (select spec from dma100 a where a.itm_id = b.itm_id) as spec,
          (select fac_nm from bcc300 a where a.fac_cd = b.pda_fac) as fac_nm,
          (select wh_nm from bcw100 a where a.wh_cd = b.pda_wh) as wh_nm,
          '' as be_pda_no, '0' as barcount
     from pda100 b
    where barcode = #{barcode}
      and src_ty = 'PD100100'
  </select>

  <insert id="setRcvRawSaveMoveNo" parameterType="java.util.Map">
  /*** ShipRegDAO.setRcvRawSaveMoveNo  원소재입고 데이터 저장 ***/
      INSERT INTO PDA200
      (
        mov_no, mov_sq, mov_dt, mov_bc, pda_no
        , itm_id, pal_qty, in_qty, out_qty, mov_qty
        , out_fac, out_wh, in_fac, in_wh, ent_bc
        , mng_no, mst_no, mst_sq, slv_no, slv_sq
        , src_no , src_sq, src_ty, io_ty, cust_cd
        , cust_cd2 , cid, cdt, mid, mdt
        , remark
      )
      VALUES
      (
        dbo.fnCodeNo('PDA200', #{dtp} )
        ,1           /***[하드코딩] 순번 **/
        , #{dtp}           /*** 입고일자**/
        , #{mov_bc}       /*** [하드코딩] 입고구분    LE300  800 자재입고 , 일반이동등....**/
        , #{barcode}      /*** 바코드번호**/

        , #{itm_id}        /*** itm_id**/
        , #{pal_qty}      /*** 납품수량**/
        , #{in_qty}       /*** 입고수량**/
        , #{out_qty}      /*** 출고수량**/
        , #{mov_qty}      /*** 이동수량**/

        , #{c_facCd}      /*** 출고공장없음**/
        , #{c_whCd}        /***출고창고없음**/
        , #{t_facCd}      /*** [하드코딩] 입고공장 '1010'**/
        , #{t_whCd}       /*** [하드코딩] 입고창고 'A100'**/
        , #{ent_bc}       /*** [하드코딩] 입력경로구분  , LE920 800 자재입고 , 발주입고등.....**/

        , #{lot_no}       /*** [PDA100참조] LOT번호**/
        , (select po_no from mmb200 where mng_no = #{lot_no} )        /*** [PDA100참조] LOT번호**/
        , (select po_sq from mmb200 where mng_no = #{lot_no} )        /*** [PDA100참조] LOT번호**/
        , (select dlv_no from mmb200 where mng_no = #{lot_no} )       /*** -[PDA100참조] LOT번호**/
        , (select dlv_sq from mmb200 where mng_no = #{lot_no} )       /*** [PDA100참조] LOT번호**/

        , dbo.fnCodeNo('LEA100', #{dtp} )        /***  납품번호        [PDA100참조]**/
        , '1'         /***  납품순번         [PDA100참조]**/
        , #{src_ty}     /*** [하드코딩] PDA구분       PD100 100 소재납품 110 소재입고등....**/
        ,'I'           /*** [하드코딩] 'I'**/
        ,''

        ,''
        ,47
        ,getdate()
        ,47
        ,getdate()

        , #{remark}
      )


  </insert>
</mapper>
