<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockCountDAO">

  <select id="setSaveSilsaNo" statementType="CALLABLE" resultType="hashmap">
    {
        call PDA900_TO_insert (#{end_mon},#{dtp},#{fac_cd},#{wh_cd},#{barcode},#{end_qty},#{real_qty},#{cid})
    }
  </select>
</mapper>
