<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="StockMovDAO">

  <select id="getLotMasterInfoStockInCheck" resultType="hashmap" parameterType="java.util.Map">
  /*** StockMovDAO.getLotMasterInfoStockInCheck  재고이동,재고확인  바코드 조회***/
  <![CDATA[
      select b.barcode, b.itm_id, b.mov_qty as pda_qty, b.pda_fac, b.pda_wh, b.io_ty, b.src_no, b.src_sq, b.lot_no,
						(select itm_nm from dma100 a where a.itm_id = b.itm_id) as itm_nm,
						(select spec from dma100 a where a.itm_id = b.itm_id) as spec,
						(select fac_nm from bcc300 a where a.fac_cd = b.pda_fac) as fac_nm,
						(select wh_nm from bcw100 a where a.wh_cd = b.pda_wh) as wh_nm,
						isnull(min(t.pda_no),'') as be_pda_no, count(t.itm_id) as barcount
			from pda100 b
			left join pda100 t on b.itm_id = t.itm_id and t.mov_qty > 0 and t.src_ty <> 'PD100100' and substring(b.pda_no,2,6) >  substring(t.pda_no,2,6)
			            and b.pda_fac = t.pda_fac and b.pda_wh = t.pda_wh
			where b.barcode = #{barcode}
			  and b.src_ty  <> 'PD100100'
			  and b.mov_qty > 0
			group by  b.barcode, b.itm_id, b.mov_qty , b.pda_fac, b.pda_wh, b.io_ty, b.src_no, b.src_sq, b.lot_no, b.itm_id
  ]]>
  </select>
</mapper>
