.f_lg_icons {
    background-image: url(/resources/module/assets/page/pds/images/file_lg_icon.png);
    background-repeat: no-repeat;
    display: block;
}

.file_lg_doc {
    width: 73px;
    height: 84px;
    background-position: -5px -5px;
}

.file_lg_dwg {
    width: 73px;
    height: 84px;
    background-position: -88px -5px;
}

.file_lg_etc {
    width: 73px;
    height: 84px;
    background-position: -171px -5px;
}

.file_lg_excel {
    width: 73px;
    height: 84px;
    background-position: -5px -99px;
}

.file_lg_hwp {
    width: 73px;
    height: 84px;
    background-position: -88px -99px;
}

.file_lg_pdf {
    width: 73px;
    height: 84px;
    background-position: -171px -99px;
}

.file_lg_ppt {
    width: 73px;
    height: 84px;
    background-position: -254px -5px;
}

.file_lg_txt {
    width: 73px;
    height: 84px;
    background-position: -254px -99px;
}

.file_lg_zip {
    width: 73px;
    height: 84px;
    background-position: -5px -193px;
}
