/*
모바일 datatable 버튼 재정렬
*/

@media screen and (max-width: 1630px) {
  .dt-buttons {
    float: none;
    text-align: center;
    margin-right : 10px;
    display : inline !important;
  }
  .dt-buttons .btn {
    float: none;
  }
}
@media screen and (max-width: 767px) {
  .dt-buttons {
    float: none;
    text-align: center;
    margin-right : 10px;
    display : inline !important;
  }
  .dt-buttons .btn {
    float: none;
  }
}


@media screen and (max-width: 414px) {
    .btn-xs, .btn-group-xs > .btn{
        --padding: 3px 5px;
    }
    .panel-body{
        padding: 3px 5px;
    }
    #workSpace Div{
        word-break:break-all;
    }
}

.choice span {
    border : 2px solid #797979;
}

.content-group {
    margin-bottom : 20px !important;
}


.fancytree-ext-table tbody tr td:first-child {
    text-align : left;
}

#dataList {
    word-break:break-all;
}

.btn-hide ,
.custom-hide {
    display: none !important;
}






/* 글자 밀림 방지 */
.dataTable > thead > tr > th,
.dataTable > tbody > tr > th,
.dataTable > tfoot > tr > th,
.dataTable > thead > tr > td,
.dataTable > tbody > tr > td,
.dataTable > tfoot > tr > td {
  vertical-align: middle;
  word-break:break-all;
}

.paging_simple .paginate_button:hover, .paging_simple .paginate_button:focus{
    background-color : transparent;
}
.dataTables_paginate .paginate_button:hover, .dataTables_paginate .paginate_button:focus{
    background-color : transparent;
}

.text-skip {
    overflow : hidden;
    text-overflow : ellipsis;
}

.table-layout-fixed {
    table-layout : fixed;
}


.custom-border-bottom{
    border-bottom : 1px solid #ddd;
    margin-bottom : 10px;
}

.custom-border-top{
    border-top : 1px dashed #ddd;
    padding-top : 10px;
}

.custom-margin-bottom{
    margin-bottom:10px !important;

}

.custom-p15 {
    padding-left : 30px;
}

.custom-p30 {
    padding-left : 60px;
}
