
#docWriteForm .form-group{
	margin-bottom:10px !important;
}

#detail_docClassList .btn_delDocClass{
	margin-left:5px !important;
	margin-right:5px !important; 
}


@media screen and (max-width: 1024px) {
	#docFileListLable{
		padding-top: 8px !important;
	}
}

#mainTagCal4{
	padding-top:7px !important;
}

@media screen and (min-width: 1200px) {
	#strSearchOption{
		padding-top:10px !important;
	}
}

@media screen and (max-width: 768px) {
	.docDetail_container #btn_addItemClass{
		margin-bottom:5px !important;
	}
}


.checkbox-inline{
	padding-left: 23px !important;
}

.pdsMobileTree{
	display: block;
	position: fixed ;
	z-index: 1000 !important;
	width: 300px;
	top: 0px;
	left: -300px;
	transition: left 0.3s linear;
	-webkit-transition: left 0.3s ease;
	--min-height: 100%;
}

.SideTreeActive {
	display: block;
	position: fixed;
	z-index: 999;
	width: 300px;
	top: 0px;
	left: 0px;
	transition: left 0.3s ease;
	-webkit-transition: left 0.3s ease;
	--min-height: 100%;
	overflow: auto;
}

/*
.pds-tree-btn{
    background: #363636;
    background: rgba(100, 100, 100, 0.4);
    color: #FFF;
    cursor: pointer;
    display: none;
    position: fixed;
    left: 20px;
    top: 15px;
    z-index: 9999;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}
*/

.pds-tree-btn{
    background: #363636;
    background: rgba(100, 100, 100, 0.4);
    color: #FFF;
    cursor: pointer;
    display: none;
    position: fixed;
	/*
    right: 15px;
    top: 48px;
	*/
    left: 20px;
    bottom: 15px;
    z-index: 998;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    border-radius: 4px;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
}

.pds-tree-btn.move{
	left: 70px;
}

/* 트리 좌유 여백 */
.pdsMobileTree .panel-body{
    padding: 10px;
}

/* 모바일트리 배경색 변경 */
.pdsMobileTree{
	background-color:#37474f;
}

.pdsMobileTree .panel {
	background-color:#37474f;
	border:0;
	border-radius: 0;
}
.pdsMobileTree .forderNmLabel{
	color:#FFFFFF
}

/* 모바일트리 버튼 아이콘 제거 */
#div_treeButton button i {
	display:none 
}

/* 모바일 태그 정렬 글자색 */
.pdsMobileTree #mainTagDiv .sortRow{
	color:#fcfcfc;
}


#tagAccordion .tagLabel{
	margin-bottom:5px;
	font-size:12px;
	cursor:pointer;
}

#tagAccordion .tagLabel.on{
	border-color: #2196F3 !important;
	background-color: #2196F3 !important;
}




@media screen and (max-width: 768px) {
	.nav-tabs:before {
		content: none;
	}
}

#dataList_wrapper #dataList_filter label:first-child{
	float: left !important;
}

#div_strSearchOption{
	clear: both;
	padding-top:7px !important;
	text-align:left  !important;
}

#div_docKeywordSearchAll{
    float: left;
    padding-top: 7px;
    padding-left: 20px;
}

/* //index > 문서목록 데이터테이블 상단 처리 */




#docReqAppForm .radio .choice, #docReqAppForm .radio-inline .choice {
    top: 0px !important;
}



/* 데이타 테이블 검색 관련 */
#dataList_filter label, #docReqSendList_filter label, #docReqReceiveList_filter label{
	float: left;
}

#tableFilter_appState_1, #tableFilter_appState_2{
    float: left;
	padding-left:10px;
}



#dataList_filter input[type="search"] {
	min-width:150px;
}


@media screen and (max-width: 458px) {

	/* 문서목록 */
	#dataList_filter > label > span{
		display:none
	}
	
	#sch_appState1, #sch_appState2{
		width:auto;
	}
		
	#dataList_filter input[type="search"] {
		width:150px;
	}
	

	#dataList_filter {
		margin-bottom:0px
	}

	.datatable-header{
		text-align:right !important;
	}

	#dataList_wrapper > div.datatable-header > div.dt-buttons{
		margin-left: 0px !important;
		text-align: right !important;
	}

	#dataList_wrapper > div.datatable-header > div.dt-buttons .dt-button{
		margin-top:5px !important;
	}


	/* 문서열람요청한 목록 */
	#docReqSendList_filter label span{
		display:none
	}
	#docReqSendList_filter input[type="search"] {
		width:150px;
	}
	
	/*
	#tableFilter_appState_1 {
		width:150px;
	}
	*/

	#docReqSendList_filter {
		margin-bottom:0px
	}

	.datatable-header{
		text-align:right !important;
	}


	/* 문서열람요청받은 목록 */
	#docReqReceiveList_filter label span{
		display:none
	}
	#docReqReceiveList_filter input[type="search"] {
		width:150px;
	}

	/*
	#tableFilter_appState_2 {
		width:150px;
	}
	*/

	#docReqReceiveList_filter {
		margin-bottom:0px
	}

	.datatable-header{
		text-align:right !important;
	}
}
/* //데이타 테이블 검색 관련 */

@media screen and (max-width: 320px) {
	#dataList_filter input[type="search"] {
		width:100%;
	}

	#div_docKeywordSearchAll{
		padding-left:0;
	}
}


/* 본문 PDF 뷰어 관련 */
@media screen and (max-width: 320px) {
	#viewerContainer, #toolbarContainer{
		width:290px !important;
	}
}

@media screen and (max-width: 1199px) {
	#mainFileContents{
		margin-bottom:10px;
	}

	#viewerContainer{
		border-bottom:1px solid #ddd
	}
}
/* //본문 PDF 뷰어 관련 */



@media screen and (max-width: 400px) {
	#addDocViewAuth_Div .td1{
		width:60% !important;
	}

	#addDocViewAuth_Div .bootstrap-tagsinput{
		width:100% !important;
	}

	#addDocViewAuth_Div .bootstrap-tagsinput input{
		width:100% !important;
	}

	#authUserObsCode {
		width:100% !important;
	}
}

@media screen and (max-width: 412px) {
	#mainFileContents{
		/*
		padding-top:0 !important;
		padding-left:0 !important;
		padding-right:0 !important;
		*/
	}

	#docDetailForm .modal-body{
		--padding-top:10px !important;
	}
}


.modal-pdf .modal-body {
	padding-top:0 !important;
	padding-left:0 !important;
}
@media screen and (max-width: 1199px) {
	.modal-pdf .modal-body {
		padding-right:0 !important;
	}

	.modal-pdf #docDetailContents{
		margin-left:20px !important;
		margin-right:20px !important;
	}
}



@media screen and (min-width: 760px) {
	#docDetailForm .col-xs-4, #docWriteForm .col-xs-4{
		width: 16.66666667%;
	}

	#docDetailForm .col-xs-8, #docWriteForm .col-xs-8{
		width: 83.33333333%;
	}
}


@media screen and (max-width: 768px) {
	.doc_content_title {
		margin-bottom:0 !important;
	}
	.doc_content_text{
		padding-top:0 !important;
		margin-bottom:7px !important;
	}
}

/* 400px 이하일 경우 버튼 제거 */
@media screen and (max-width: 400px) {
	.datatable-header i {
		display:none;
	}
}

/* 테이블 border 제거 */
.tabbable .dataTables_wrapper .table-bordered {
    border: 0;
}
.tabbable .table-bordered > thead > tr > th:first-child, .tabbable .table-bordered > tbody > tr > td:first-child {
    border-left: 0;
}
.tabbable .table-bordered > thead > tr > th:last-child, .tabbable .table-bordered > tbody > tr > td:last-child {
    border-right: 0;
}
.tabbable .table-bordered > tbody > tr:last-child > td {
	border-bottom:0;
}
/* //테이블 border 제거 */

/*
@media screen and (max-width: 768px) {
	#docTab li{
		width:33%;
		--height:32px;
		float:left;
		text-overflow: ellipsis;
		--overflow: hidden;

		list-style-position:inside;
		white-space: nowrap;
		overflow: hidden;
	}

	#docTab li a{
		width:100%;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
	}
}
*/


#treeAccordion .panel-heading , tagAccordion .panel-heading{
	padding-top:7px;
	padding-bottom:7px;
}

.fab-menu-bottom-left, .fab-menu-bottom-right {
    --bottom: 59px;
	bottom: 15px;
	right: 16px;
}

.fab-menu{
	display:none;
	z-index:998;
}

.fab-menu.move{
	right: 70px;
	bottom: 11px;
}


/* 프로팅 메뉴 show 및 상단 버튼 정리 */
@media screen and (max-width: 767px){
	.dt-buttons{
		display:none;
	}

	.fab-menu{
		display:inline;
	}

	#div_strSearchOption{
		padding-bottom:5px;
	}
}


/* 말줄임시 스크롤 CSS 조정*/
@media (max-width: 1024px){
	.datatable-scroll{
	    width: 100%;
	    overflow-x: auto !important;
	}
}

.dt-center{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}