
#datatable_workReqList_filter label {
    float: left;
}

#workReqListPanel .search-option-div {
    float: left;
    padding-left: 10px;
}

.viewCont{
    padding-top: 10px;
    border-top: 1px solid #ede;
}

#workReqAccordion .bg-slate{
	background-color: #f0f0f0;
	color: #333;
	border: 1px solid #dddddd;
}

.btnCommentWrapper{
    position: absolute;
    top: -2px;
    right: 30px;
}

#workReqAccordion .panel-title{
    position: relative;
}

#uploadEvent_workReqComment .plupload_droptext{
	height: 130px;
}

#uploadEvent_workReqComment .plupload_droptext:before{
	padding-top: 15px;
}

#uploadEvent_workReqComment .plupload_droptext:after{
    top: 74%;
    padding-top: 100px;
	height:auto;
}

#workReqAccordion .custom-span {
    float: right;
}


#workReqAccordion .bbs-media:not(:last-child) {
    border-bottom: 1px solid #ddd;
}


#workReqAccordion .uploader-events{
	padding-bottom:10px;
}

.commentListWrapper{
	padding-bottom:10px;
}

#workReqAccordion .badge{
	vertical-align: middle;
}


/* 코멘트 CSS 정의 */
@media (max-width: 768px){

	.stack-media-on-mobile {
		text-align: left;
	}


	.stack-media-on-mobile .media-left,
	.stack-media-on-mobile .media-right,
	.stack-media-on-mobile .media-body {
		display: table-cell;  
		width: auto;
		padding-left: 0;
		padding-right: 0;
		text-align: left;
	}	
	 

	.media-body>.stack-media-on-mobile .media-left,
	.stack-media-on-mobile .media-right,
	.stack-media-on-mobile .media-body {
		display: table-cell;  
		width: auto;
		padding-left: 10px;
		padding-right: 0;
		text-align: left;
	}	 

	.custom-date{
		display: block !improtant;
	}
	
	.stack-media-on-mobile .media-annotation {
		display: inline;
	  }
}


@media (max-width: 440px){
	#label_reqdt1{
		clear:both;		
	}
	#label_reqdt2{
		width:50%
	}
	#label_requester{
		margin-bottom:15px;
	}
}

@media (max-width: 340px){
	.workReqDetail-body .col-xs-3 {
		width: 35%;
	}
}

